<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GameLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <GameLauncher.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value/>
            </setting>
            <setting name="rememberme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="serverentry" serializeAs="String">
                <value>0</value>
            </setting>
        </GameLauncher.Properties.Settings>
    </userSettings>
</configuration>
