<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net35" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net35" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net35" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net30" />
</packages>